zstyle ':completion:*' menu select
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'

autoload -Uz compinit
if [[ -n ~/.zcompdump(#qN.mh+24) ]]; then
  compinit
else
  compinit -C
fi

HISTFILE=$HOME/.zsh_history
HISTSIZE=100000
SAVEHIST=$HISTSIZE
setopt SHARE_HISTORY
setopt HIST_IGNORE_DUPS

bindkey "^[[H" beginning-of-line
bindkey "^[[F" end-of-line
bindkey "^[[3~" delete-char

export EDITOR=nvim

# aliases
alias ls=eza
alias kubectl=kubecolor
alias k=kubectl
alias more=bat
alias cat=bat
alias du=dust

eval "$(zoxide init zsh --cmd cd)"

{{- if eq .chezmoi.hostname "ankh" "nebula" }}
# jenv things
export PATH="$HOME/.jenv/bin:$PATH"
eval "$(jenv init -)"

# kube things
# Load the kubectl completion code for zsh[1] into the current shell
source <(kubectl completion zsh)
compdef k=kubectl
compdef kubecolor=kubectl

export PATH="/opt/homebrew/opt/postgresql@16/bin:$PATH"

# Added by LM Studio CLI (lms)
export PATH="$PATH:/Users/will/.lmstudio/bin"
# End of LM Studio CLI section
{{- end }}

zstyle ':completion:*' menu select
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'

# go prompt go
eval "$(starship init zsh)"

